<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">
</head>
    
<body>
    <nav th:replace="/fragments/navbar :: navigation"></nav>
    <div class="bg-secondary maincontainer">
        <div class="row" style = "margin: 10px;">
            <div class="col-8 divider">
                <h2>Recent Criminals Last Seen</h2>
                <table class ="tblhome">
                    <tr class = "trhome" rowspan = "2">
                        <td class="profileimg">
                            <a th:href="@{/profile}">
                                <img src="/img/crimina.png" style="width: 100px;margin:15px;border:1px solid black">
                            </a>
                        </td>
                        <td>
                            <table>
                            <tr>
                                <td><p class="lastseen">Name: </p></td>
                                <td><p class="lastseen">John Doe</p></td>
                            </tr>
                            <tr>
                                <td><p class="lastseen">Last seen: </p></td>
                                <td><p class="lastseen">January 1, 2020 | 14:46</p></td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-4">
                <h2>Recent Crime Activities</h2>
                <table class = "tblhome">
                    <tr class = "trhome">
                        <td>
                            <table class = "tblhome">
                                <tr valign="middle">
                                    <td style="width:35%;">
                                        <img class="recentact" src="/img/location_icon.png">
                                        <p class="lastseen">Barangay: </p>
                                    </td>
                                    <td>
                                        <p class="lastseen">Mankilam</p>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="recentact" src="/img/time_icon.png">
                                            <p class="lastseen">Time: </p>
                                        </td>
                                        <td>
                                            <p class="lastseen">11:50 AM</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="recentact" src="/img/crime_icon.png">
                                            <p class="lastseen">Crime: </p>
                                        </td>
                                        <td>
                                            <p class="lastseen">Robbery</p>
                                        </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</body>

</html>